<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> True facts </title>
    </head>
    <body>
        <h1> True facts. </h1>
        <ul>
            {{each facts}}
            <li> {{text}} </li>
            {{/each}}
        </ul>
    </body>
</html>